#survey-form {
	font-family: sans-serif;
	margin: 0 auto;
  	width: 50%;
  	border: 3px solid black;
  	padding: 20px;
  	border-radius: 5px;
  	background-color: hsla(0, 100%, 70%, 0.8);

}

.title {
	text-align: center;
	font-family: Poppins, sans-serif;
}

body {
	background-image: url('../image/uopeople3.jpg');
	height: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	background-color: hsla(0, 100%, 30%, 0.3);

}

#description {
	font-size: 20px;
	opacity: 0.9;
}

